<div class="payment-icons">
                  <img loading="eager" src="https://www.georgjensen.com/on/demandware.static/-/Sites-GeorgJensen_Global-Library/default/dw2e37d150/payment_icons/maestro.png" fetchpriority="high" alt="maestro">
                  <img loading="lazy" src="https://www.georgjensen.com/on/demandware.static/-/Sites-GeorgJensen_Global-Library/default/dw490e2e2d/payment_icons/mastercard.png" alt="mastercard">
                  <img loading="lazy" src="https://www.georgjensen.com/on/demandware.static/-/Sites-GeorgJensen_Global-Library/default/dwa5522949/payment_icons/visa.png" alt="visa"> 
                  <img loading="lazy" src="https://www.georgjensen.com/on/demandware.static/-/Sites-GeorgJensen_Global-Library/default/dwace3538d/payment_icons/american express.png" alt="american express">
                  <img loading="lazy" src="https://www.georgjensen.com/on/demandware.static/-/Sites-GeorgJensen_Global-Library/default/dwb2ba9920/payment_icons/ppc-acceptance-small.png" alt="PayPal">
                  <img loading="lazy" src="https://www.georgjensen.com/on/demandware.static/-/Sites-GeorgJensen_Global-Library/default/dwa24664b4/payment_icons/paywithgoogle.png" alt="google pay">
                  <img loading="lazy" src="https://www.georgjensen.com/on/demandware.static/-/Sites-GeorgJensen_Global-Library/default/dw3229d801/payment_icons/apple_pay.png" alt="apple pay">
                </div>